build
Pillow
numpy
scipy
matplotlib
seaborn
brewer2mpl
scikit-image
scikit-build
scikit-learn
opencv-python
omegaconf
scipy
pyyaml
tqdm
attrdict
torch==1.12
torchvision>=0.8
tensorboardX
h5py
tqdm
kornia
shapely
attrdict
jupyter
git+https://github.com/rpautrat/pykitti.git