build
Pillow
numpy
scipy
matplotlib
seaborn
brewer2mpl
scikit-image
scikit-build
opencv-python
omegaconf
scipy
pyyaml
tqdm
attrdict
torch
torchvision
tensorboardX
h5py
tqdm
kornia
shapely
attrdict
jupyter